# **Feature Engineering**

## Objectives

* Engineering features for the Regression model

## Inputs

* outputs/datasets/collection/house_prices_ames_iowa_cleaned.csv

## Outputs

* generate a list of variables to engineer 

## Additional Comments

* Feature Engineering Transformers
    *

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/housing-price-data-ml/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/housing-price-data-ml'

# Load data

In [4]:
import pandas as pd
df = (pd.read_csv("outputs/datasets/collection/house_prices_ames_iowa_cleaned.csv"))
df.head(3)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,EnclosedPorch,GarageArea,GarageFinish,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.0,No,706,GLQ,150,0.0,548,RFn,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.0,Gd,978,ALQ,284,0.0,460,RFn,...,80.0,0.0,0,8,6,1262,0.0,1976,1976,181500
2,920,866.0,3.0,Mn,486,GLQ,434,0.0,608,RFn,...,68.0,162.0,42,5,7,920,0.0,2001,2002,223500

---

# Split Train and Test Set

In [6]:
from sklearn.model_selection import train_test_split
TrainSet, TestSet, _, __ = train_test_split(
                                        df,
                                        df['SalePrice'],
                                        test_size=0.2,
                                        random_state=0)

print(f"TrainSet shape: {TrainSet.shape} \nTestSet shape: {TestSet.shape}")

TrainSet shape: (1168, 24)
TestSet shape: (292, 24)

Evaluate id any missing data still exists

In [8]:
def EvaluateMissingData(df):
    missing_data_absolute = df.isnull().sum()
    missing_data_percentage = round(missing_data_absolute/len(df)*100, 2)
    df_missing_data = (pd.DataFrame(
        data={"RowsWithMissingData": missing_data_absolute,
              "PercentageOfDataset": missing_data_percentage,
              "DataType": df.dtypes}
    )
        .sort_values(by=['PercentageOfDataset'], ascending=False)
        .query("PercentageOfDataset > 0")
    )

    return df_missing_data


df_missing_data = EvaluateMissingData(TrainSet)
print(f"* There are {df_missing_data.shape[0]} variables with missing data \n")
df_missing_data

* There are 0 variables with missing data

Empty DataFrame
Columns: [RowsWithMissingData, PercentageOfDataset, DataType]
Index: []

---

# Drop Variables

Dropping variables that have been found not having enough correlation with the target variable, with a value lower than 0.50. For further details, see notebook: 03 - House_prices_study.ipynb

In [9]:
variables_to_drop = ['2ndFlrSF',
                     'BedroomAbvGr',
                     'BsmtExposure',
                     'BsmtFinSF1',
                     'BsmtFinType1',
                     'BsmtUnfSF',
                     'EnclosedPorch',
                     'GarageFinish',
                     'LotArea',
                     'LotFrontage',
                     'MasVnrArea',
                     'OpenPorchSF',
                     'OverallCond',
                     'WoodDeckSF'
                     ]
print(f"* {len(variables_to_drop)} variables to drop \n\n"
      f"{variables_to_drop}")

* 14 variables to drop

['2ndFlrSF', 'BedroomAbvGr', 'BsmtExposure', 'BsmtFinSF1', 'BsmtFinType1', 'BsmtUnfSF', 'EnclosedPorch', 'GarageFinish', 'LotArea', 'LotFrontage', 'MasVnrArea', 'OpenPorchSF', 'OverallCond', 'WoodDeckSF']

Creating a DataFrame applying this imputation approach to the selected variables.

In [11]:
from feature_engine.selection import DropFeatures
imputer = DropFeatures(features_to_drop=variables_to_drop)
imputer.fit(TrainSet)
df_method = imputer.transform(TrainSet)

Transforming data

In [13]:
from feature_engine.selection import DropFeatures
imputer = DropFeatures(features_to_drop=variables_to_drop)
imputer.fit(TrainSet)

TrainSet, TestSet = imputer.transform(TrainSet) , imputer.transform(TestSet)

Evaluate if more variables need to be dealt with.

---

NOTE

* You may add as many sections as you want, as long as they support your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* If you do not need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create here your folder
  # os.makedirs(name='')
except Exception as e:
  print(e)